@font-face {
	font-family: 'Fortuna Gothic FlorishC';
	src: url("../../../../assets/fonts/Fortuna Gothic FlorishC.ttf");
}

.wrap
{
	height: 95%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

.images_king, .images_player
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	width: 300px;
}

.images_king > img:nth-child(n+2):nth-last-child(n+2)
{
	width: 73px;
	margin-left: 9px;
}

.images_king > img:nth-child(1), .images_player > img:nth-child(1)
{
	width: 111px;
}

.images_king > img:nth-child(1)
{
	margin-left: 27px;
}

.images_player > img:nth-child(1)
{
	margin-left: 12px;
}

.images_player > img:nth-child(n+2):nth-last-child(n+2)
{
	width: 73px;
	margin-left: 25px;
}

.images_player > img:nth-last-child(1)
{
	width: 93px;
	margin-left: 28px;
}

.images_king > img:nth-last-child(1)
{
	width: 93px;
	margin-left: 10px;
}
.name
{
	color: #ffff99;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffff99), to(#D17000));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	height: 45px;
	overflow: hidden;
	font-size: 40px !important;
	font-family: 'Fortuna Gothic FlorishC', Arial, serif;
}