*
{
	margin: 0;
	padding: 0;
}

body
{
	width: 100%;
	height: 100vh;
}

svg
{
	background-color: #e9ecf8;
	width: 2000px;
	height: 1000px;
}

.grass
{
	fill: #9fb057;
}

.walls
{
	fill: #655f60;
}

.roof
{
	fill: #ab946d;
	stroke: #584c38;
}

.foundation
{
	fill: #fdfdfa;
}

.chimney
{
	fill: #963f38;
}

.veranda
{
	fill: #5c8cb6;
}

.verdana-window
{
	fill: #cee1e6;
	stroke: #5c8cb6;
}

.broken
{
	fill: #1e1417;
}

.veranda-roof
{
	fill: #aea987;
	stroke: #686651;
}

.stairs
{
	fill: #bd8a3e;
	stroke: #5b431e;
}

.door
{
	fill: #a7967e;
	stroke: #665c4d;
}

.door-handle
{
	fill: #715a4d;
}

.door-roof
{
	fill: #d27452;
}

.window
{
	fill: #d7d8d3;
}

.frame
{
	fill: #7aa6d3;
	stroke: #1b3e66;
}

.window-board
{
	fill: #dae4d9;
}

.boarded-up-window
{
	fill: #2d3633;
}

.boarded-up
{
	fill: #e2dac5;
}

.attic
{
	fill: #190d0d;
}

.attic-door
{
	fill: #e3c297;
}

.fence
{
	fill: #ebb14e;
	stroke: #48300a;
}

.pathway
{
	fill: #fee682;
}

.foliage
{
	fill: #418047;
}

.foliage:nth-child(2n+1)
{
	fill: #aec762;
}