.wrap
{
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px #3a3a3a solid;
	box-shadow: inset -6px -6px 6px 0 rgba(227, 227, 227, 0.5), inset 5px 5px 5px 0 rgba(79, 79, 79, 0.5);
}

.wrap:hover
{
	cursor: pointer;
}

.clicked
{
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px #3a3a3a solid;
	box-shadow: inset -8px -8px 8px 0 rgba(227, 227, 227, 0.5), inset 7px 7px 7px 0 rgba(79, 79, 79, 0.5);
}

.ball
{
	width: 70%;
	height: 70%;
	border-radius: 50%;
	box-shadow: inset -6px -6px 5px 0 rgba(56, 56, 56, 0.5), inset 6px 6px 5px 0 rgba(218, 218, 218, 0.5);
	-webkit-animation: create 0.5s forwards;
}

@keyframes create {
	0% {
		width: 0;
		height: 0;
	}
	100% {
		width: 70%;
		height: 70%;
	}
}

.clicked_ball
{
	position: relative;
	width: 70%;
	height: 70%;
	border-radius: 50%;
	box-shadow: inset -6px -6px 5px 0 rgba(56, 56, 56, 0.5), inset 6px 6px 5px 0 rgba(218, 218, 218, 0.5);
	-webkit-animation: bounce 1s cubic-bezier(0.30, 2.40, 0.85, 2.50) infinite;
}



@keyframes bounce {
	from, to {
		bottom: -1px;
		height: 66%;
	}
	50% {
		bottom: 6px;
		height: 70%;
	}
}